@font-face {
    font-family: 'Pet';
    src: url('./fonts/PawWowBlock-VGMDl.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/* ================================
        N   a   v   b   a   r 
=================================== */

.navbar-brand {
    width: 180px;
    overflow: hidden;
}

.navbar-brand
span {
    transition: 0.5s;
    font-family:'Courier New', Courier, monospace;
    display: block;
}

.navbar-brand
span:nth-child(1) {
    position: absolute;
    transform: translateY(-80px);
}

.icon
.navbar-brand
span:nth-child(1) {
    transform: translateY(10px);
}

.icon
.navbar-brand
span:nth-child(2) {
    transform: translateY(80px);
}

.navbar
.container-fluid
a {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.navbar 
.container-fluid 
a::after {
    content: "";
    position: absolute;
    background-color: maroon;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 4px;
    transition: 0.3s;
}


.navbar 
.container-fluid 
a:hover:after {
    width: 100%;
}

.navbar 
.container-fluid
.nav-item 
a:hover {
    color: red !important;
}

/* =====================================================
            C   a   r   o   u   s   e   l 
======================================================= */

.carousel-inner 
.carousel-item img {
    height: 100vh;
}
  
.carousel-indicators {
    visibility: hidden;
}
  
.carousel-control-prev, 
.carousel-control-next {
    visibility: hidden;
}

/* ==========================================================
            A   b   o   u   t  
============================================================= */

#about {
    text-align: center;
    overflow: hidden;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about 
img {
    transition: .5s ease;
    border-radius: 20px;
}

.about:hover 
img {
    transform: scale(1.1);
}

.desc
p {
    line-height: 2;
    margin-top: 20px;
}

/* ========================================================= 
                Mission and Vision 
========================================================= */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
}

.container 
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.container
.card:hover {
    height: 400px;
}

.container
.card
.imgBox {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container
.card:hover
.imgBox {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container
.card
.imgBox 
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container
.card
.content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container
.card:hover
.content {
    top: 130px;
    height: 250px;
}

.one 
h2 {
    color: #009688;
    font-weight: bold;
}

.two 
h2 {
    color: #ff3e7f;
    font-weight: bold;
}

.three
h2 {
    color: #03a9f4;
    font-weight: bold;
}

.title 
h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Pet';
    text-align: center;
}

/* ========================================
            Meet Our Pet
=========================================== */

.pets {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.pets
.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pets
.card
.pet-image,
.pets
.card
.label {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.pets
.card
.pet-image {
    background: #fff;
    height: 120px;
    z-index: 1;
    transform-origin: bottom;
}

.pets
.card:hover
.pet-image {
    transform: translateY(-100%) rotateX(90deg);
}

.pets
.card
.label {
    height: 280px;
    background: var(--clr);
    border-top: 8px solid #333;
    transform-origin: top;
}

.pets
.card:hover
.label {
    transform: translateY(100%) rotateX(90deg);
}